.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 10px
}

@import 'blocks/_block.scss';
@import 'blocks/_header.scss';
@import 'blocks/_buttons.scss';
@import 'blocks/_adv.scss';
@import 'blocks/_title.scss';
@import 'blocks/_cons.scss';
@import 'blocks/_forms.scss';