.button  {
    background: #C70101;
    border-radius: 5px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    &_main {
        margin: 10px;
        padding: 10px;
        font-size: 16px;
        line-height: 25px;
    }
    &_submit {
        width: 100%;
        
    }
    @media (max-width: 767.98px) {
        &_main {
            width: 100%;
            margin: 0;
        }
    }
}