.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 500px;
    &__item {
        display: none;
        width: 100%;
        margin-right: -100%;
        backface-visibility: hidden;
        transition: transform .6s ease-in-out;
        img {
            width: 100%;
        }
        &_active {
            display: block;
        }
        &_start {
            transform: translateX(-100%);
        }
        &:not(.carousel__item_active) {
            transform: translateX(100%);
        }
    }
}