.cons {
    min-height: 680px;
    padding: 100px 0 92px 0;
    color: white;
    background: url('../img/IMG_3173.jpeg') center (center/cover) no-repeat;
}

.title_cons {
    text-shadow: 0px 0px 10px black;
}